.dots {
  width: 10rem;
  height: 4rem;

  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: black; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.dot {
  display: inline-block;

  width: 1.2rem;
  height: 1.2rem;

  border-radius: 50%;

  background-color: rgb(81, 81, 81);
  /* opacity: 0.95; */

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.selected {
  background-color: rgb(255, 255, 255);
}