.sliderContainer {
  position: relative;
/* 
  display: flex;
  flex-direction: row; */

  width: 47rem;
  height: 30rem;
  background-color: #CBD3FF;

  overflow: hidden;
}

.sliderContainer > .sliderWrap {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 300%;
}