.ladder {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.ladder > .container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 15rem;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .ladder > .container {
    gap: 4rem;
  }
}
