.header {
  position: relative;

  width: 100%;
  height: 6.2rem;
  background-color: #00000050;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding: 0 12vw;

  animation: onLanding 1.5s;
}

.nav {
  display: flex;
  font-size: 2rem;
}

.nav.unclicked {
  flex-direction: row;
  min-width: 45.5rem;
  gap: 4rem;
}

.nav.clicked {
  width: 100%;

  position: absolute;

  display: flex;
  flex-direction: column;

  padding-bottom: 0.2rem;

  background-color: #353a47;

  top: 100%;
  left: 0;
  z-index: 2;

  animation-name: clickedMenu;
  animation-duration: 0.6s;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.MenuBtn {
  cursor: pointer;
  display: none;
  background: none;
  flex-direction: column;
  outline: none;
  justify-content: center;
  gap: 0.6rem;
  border: none;
}

.MenuBtn .bar {
  display: inline-block;
  background-color: white;
  border-radius: 15px;
  width: 4rem;
  height: 0.5rem;
}

@keyframes onLanding {
  0% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}

@keyframes clickedMenu {
  0% {
    transform: translateX(-30%);
    opacity: 0.9;
  }
  100% {
    opacity: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 834px) {
  .header {
    padding: 0 10vw;
  }
  .nav {
    display: none;
  }
  .MenuBtn {
    display: flex;
  }
  .imgContainer {
    width: 50vw;
    height: 5.5rem;
  }
}
