.header {
  width: 100%;
  height: 6.2rem;
  background-color: #00000050;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding: 0 12vw;

  animation: onLanding 1.5s;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  font-size: 2rem;

  min-width: 45.5rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.MenuBtn {
  cursor: pointer;
  display: none;
  background: none;
  flex-direction: column;
  outline: none;
  justify-content: center;
  gap: 0.6rem;
  border: none;
}

.MenuBtn .bar {
  display: inline-block;
  background-color: white;
  border-radius: 15px;
  width: 4rem;
  height: 0.5rem;
}

@keyframes onLanding {
  0% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 918px) {
  .nav {
    display: none;
  }
  .MenuBtn {
    display: flex;
  }
}
